<!DOCTYPE html>
<html>
  <head>
    <title>Caradoc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'logo-caradoc.png' %>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Metamorphous&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body class="font-meta bg-amber-50 <%= 'homepage' if controller_name == 'pages' && action_name == 'home' %>">
    <%= render "shared/navbar" %>
    <main style="<%= 'padding-top: 120px;' unless action_name == 'home' %>">

      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
      lucide.createIcons();
    </script>
    <%= render "shared/footer" %>
  </body>
</html>
